[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "public"]
	path = public
	url = https://github.com/juxsta/juxsta.github.io.git
	branch = master
[submodule "themes/toha"]
	path = themes/toha
	url = https://github.com/hossainemruz/toha
